* {
    margin: 0;
    padding: 0;
} 



#home {
    background: url("/img/homebtn.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: end;  
    padding-bottom: 3%;  
}

#home a {

    width: 25%;
    height: 15vh;
    padding: 2%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#sudoku {
    background: url("/img/gameback.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 5%;
    column-gap: 3%;

    
}

.num-selection{
    height: 90vh;
    width: 32vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#select1to5, #select6to9{


    display: flex;
    flex-direction: column;
    height: 90%;
    width: 50%;
    justify-content: top;
    align-items: center;

    row-gap: 5%;
    

}

#select1to5 li, #select6to9 li{
    background-color: darkred;
    border-radius: 100px;
    color: whitesmoke;

    font-size: 30px;
    font-weight: 800;
    list-style: none;
    padding: 5%;

    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.container{
    border: 15px solid darkred;
    border-radius: 50px;

    /* position: absolute; */
    height: 90vh;
    width: 90vh;

    display: flex;
    flex-direction: column;

    background-color: whitesmoke;
    font-size: 30px;

}

.box1to3, .box4to6, .box7to9{

    height: 33.3%;
    width: 100%;

    display: flex;
}

.box4to6{
    border-top: 5px solid black;
    border-bottom: 5px solid black;

}


.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9{
    height: 100%;
    width: 33.3%;


    display: flex;
    flex-direction: column;


}

.box2, .box5, .box8{
    border-left: 5px solid black;
    border-right: 5px solid black;
}

#n1to3, #n4to6, #n7to9{
    height: 33.3%;
    width: 100%;

    display: flex;
}

#n4to6{
    
    border-top: 3px solid lightgray;
    border-bottom: 3px solid lightgray;
}

#n1, #n2, #n3, #n4, #n5, #n6, #n7, #n8, #n9{
    height: 100%;
    width: 33.3%;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}

#n2, #n5, #n8{

    border-left: 3px solid lightgray;
    border-right: 3px solid lightgray;

}
